@model DesignYourHome.Models.ContractorViewModels.ContractorProfile

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Contractor Profile</h4>


    <dl class="dl-horizontal">

        @*<img class="profile-pic" src="https://pngimage.net/wp-content/uploads/2018/05/blank-profile-picture-png-2.png" width="150" height="150">*@
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Contractor.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Services)
        </dt>
        <dd>
            @foreach (var item in @Model.Services)
            {
                <p>@Html.DisplayFor(model => item.Name)</p>
            }
        </dd>
    </dl>
        

    <h4><a class="showing purpleText" asp-action="Index"><i class="material-icons purple"></i>Back to Contractors</a></h4>

</div>
            <div>
            </div>
