@model DesignYourHome.Models.ContractorViewModels.FindContractorsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="body-content-heading"><i class="material-icons purple md-36">build</i>Find Contractors</h2>

<div class="row">
    <div class="col-md-3 content-box">
        <form asp-action="Filter">
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                @Html.ListBoxFor(m => m.FilterServiceIds,
                                 Model.Services,
                                 new { @class="form-control" })
            </div>
            <input type="submit" value="Filter" class="btn btn-default purpleBtn btn-lg" />
        </form>
        <div>
            <a class="btn btn-default blueBtn" asp-action="Create">Create a Contractor Profile</a>
        </div>
    </div>
    <div class="col-md-1 gutter"></div>
    <div class="col-md-8 content-box large-box">
        <div class="center"><h4 class="showing">Showing Contractors on your area:</h4></div>
        <hr>
        <div class="row">
            @foreach (var item in @Model.Contractors)
            {
                <div class="col-md-5 contractor-card">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="profile-pic" src="https://pngimage.net/wp-content/uploads/2018/05/blank-profile-picture-png-2.png"width="100" height="100">
                        </div>
                        <div class="col-md-8">
                            <h4>@Html.DisplayFor(modelItem=>item.Name)</h4>
                            <h4>@Html.DisplayFor(modelItem => item.CompanyName)</h4>
                            <p>@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)</p>
                        </div>
                    </div>
                    @*<div class="row">
                        <p class="col-md-12">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>*@
                    <h4>Services</h4>
                    @foreach (var thing in item.Services)
                    {
                        <span>@Html.DisplayFor(modelItem => thing.Service.Name) |</span>
                    }
                    <div class="row contact-row-contractor">
                        <div class="col-md-6"><p class="phone-number"><i class="material-icons purple">phone</i> <p>@Html.DisplayFor(modelItem => item.PhoneNumber)</p></div>
                        <div class="col-md-6 right">
                            <a class="btn btn-default blueBtn" asp-action="Details" asp-route-id="@item.ContractorId"><i class="material-icons"></i> View Profile</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>